<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" name="firstname" [(ngModel)]="Foamlistvalue.firstname" class="form-control"
      id="validationCustom01" value="Mark" required>

  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" name="lastname" [(ngModel)]="Foamlistvalue.lastname" class="form-control" id="validationCustom02"
      value="Otto" required>

  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Father Name</label>
    <div class="input-group has-validation">
      <input type="text" name="fathername" [(ngModel)]="Foamlistvalue.fathername" class="form-control"
        id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>

    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">City</label>
    <input type="text" name="city" [(ngModel)]="Foamlistvalue.city" class="form-control" id="validationCustom03"
      required>

  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">State</label>
    <select class="form-select" name="Statevalue" [(ngModel)]="Foamlistvalue.Statevalue" id="validationCustom04"
      required>
      <option selected disabled value="">Choose...</option>
      <option value="Sindh">Sindh</option>
      <option value="Panjab">Panjab</option>
      <option value="Khyber">Khyber</option>
      <option value="Balochistan">Balochistan</option>
    </select>

  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Email</label>
    <input type="text" name="email" [(ngModel)]="Foamlistvalue.email" class="form-control" id="validationCustom05"
      required>

  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" name="isaccept" [(ngModel)]="Foamlistvalue.isaccept" type="checkbox" value=""
        id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>

    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit" (click)="btnsubmit()">Submit form</button>
  </div>
</form>

<div class="row">
  <h4>{{formvalue | json}}</h4>
</div>

<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>S No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Father Name</th>
        <th>City</th>
        <th>State</th>
        <th>Email</th>
        <th>Accept Policy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let valuee of formvalue;let sno =index">
        <td>{{sno +1}}</td>
        <td>{{formvalue.firstname}}</td>
        <td>{{formvalue.lastname}}</td>
        <td>{{formvalue.fathername}}</td>
        <td>{{formvalue.city}}</td>
        <td>{{formvalue.State}}</td>
        <td>{{formvalue.email}}</td>
        <td>{{formvalue.isaccept}}</td>
      </tr>
    </tbody>
  </table>
</div>